:root,
body,
.App {
  background-color: #111111;
}
.App {
  text-align: center;

  min-height: 100vh;

  padding: 2rem;
}

h1,
h2,
a,
button {
  color: #cccccc;
}

text {
  fill: #cccccc;
}

button {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  padding: 0.5rem 1rem;
}

a:hover,
button:hover {
  background-color: #cccccc;
  color: #111111;
  cursor: pointer;
}

.racing-bar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
